*{
    margin: 0;
    padding: 0;
}
.bg_web{
    background: #7BB4E3;
}
.btn-back{
    background: #7BB4E3;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.navbar-brand h1{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:  #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/* .nav-links ul li:hover{
    background: yellow;
   
} */
.nav-links ul li:hover::after{
    width: 100%;
   
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid  #7BB4E3;
    background:  #7BB4E3;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:  #7BB4E3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li .dropdown-menu{
        display: none !important;
    }

}
/* ------------welcome section ---------*/
.welcome{
    margin-top: 70px;
    max-height: 85vh;
}
.welcome img{
    height: 500px;
}
@media(max-width: 700px){
    .welcome img{
        height: 300px;
    }
}

/* -------services-------------- */
.service{
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.service h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 23%;
    /* background: #fff3f3; */
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1);
    background-color: #FFF;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.service-col:hover{
    box-shadow: 0 0 20px 0p rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .service{
        margin-top: 600px;
    }
    .row{
        flex-direction: column;
        
    }
}

/* -----footer------------------ */
footer {
    background: #7BB4E3;
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.footer_container>div h4 {
    margin-bottom: 1.2rem;
}

.footer_1 p {
    margin: 0 0 2rem;
}
.footer ul{
    list-style: none;
}

footer ul li {
    margin-bottom: 0.7rem;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
}
footer ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer_socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    
}
.footer_socials .fa-brands{
    color: #fff;
}

.footer_copyright {
    text-align: center;
    padding: 1.2rem 0;
    border-top: 1px solid wheat;

}
@media(max-width: 700px){
    .footer_container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 p {
        margin: 1rem auto;
    }

    .footer_socials {
        justify-content: center;
    }
    

}